<?php

//"Who's on call?" configuration.

$PATH = "/var/www/oncall/";


$PWSALT = "0123456789abcdef0123456789abcdef"; //Lets add a bit of salt to our passwords (Change this with any random string and keep it safe).

//Database settings - Only MySQL currently supported.

$DBHOST = "localhost"; //Chances are the database will be on the same machine, but if not, change this.
$DBPORT = "3306"; //The port your database server runs on, you probably don't need to worry about this one.
$DBUSER = "oncall"; //The username for the database.
$DBPASS = ""; //The password for the database.
$DBNAME = "oncall"; //The name of the database we'll be using.

?>
