* {
		margin: 0px;
		padding: 0px;outline: none;
	}

	body {
		background: #7e7eff;
	}

	form {
		border: 1px solid #270644;
		width: 250px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		background:  -moz-linear-gradient(19% 75% 90deg,#7e7eff, #c7c7ff);
		background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c7c7ff), to(#7e7eff));
		margin:50px auto;
		padding: 20px;
		-moz-box-shadow:0px -5px 300px #c7c7ff;
		-webkit-box-shadow:0px -5px 300px #c7c7ff;
	}

	label {
		font-size: 12px;
		font-family: arial, sans-serif;
		list-style-type: none;
		color: #fff;
		text-shadow: #000 1px 1px;
		margin-bottom: 10px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: block;
	}

	input {
	  -webkit-transition-property: -webkit-box-shadow, background;
	  -webkit-transition-duration: 0.25s;
	  	padding: 6px;
		border-bottom: 0px;
		border-left: 0px;
		border-right: 0px;
		border-top: 1px solid #ad64e0;
		-moz-box-shadow: 0px 0px 2px #000;
		-webkit-box-shadow: 0px 0px 2px #000;
		margin-bottom: 10px;
		background: #7e7eff;
		width: 230px;
	}

	input.submit {
	  -webkit-transition-property: -webkit-box-shadow, background;
	  -webkit-transition-duration: 0.25s;
		width: 100px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c7c7ff), to(#7e7eff));
		background:  -moz-linear-gradient(19% 75% 90deg,#7e7eff, #c7c7ff);
		color: #fff;
		text-transform: uppercase;
		text-shadow: #000 1px 1px;
		border-top: 1px solid #ad64e0;
		margin-top: 10px;
	}

	input.submit:hover {
		-webkit-box-shadow: 0px 0px 2px #000;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c7c7ff), to(#7e7eff));
		background:  -moz-linear-gradient(19% 75% 90deg,#7e7eff, #c7c7ff);
	} 

	input.submit:active {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7e7eff), to(#c7c7ff));
		background:  -moz-linear-gradient(19% 75% 90deg,#c7c7ff, #7e7eff);
	}

	input:hover {
		-webkit-box-shadow: 0px 0px 4px #000;
		background: #c7c7ff;
	}
